<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.mapper.AreaProjectMapper">
	<resultMap id="BaseResultMap" type="com.simple.domain.po.AreaProject">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="provice_id" jdbcType="VARCHAR" property="proviceId" />
		<result column="city_id" jdbcType="VARCHAR" property="cityId" />
		<result column="area_id" jdbcType="VARCHAR" property="areaId" />
		<result column="provice_name" jdbcType="VARCHAR" property="proviceName" />
		<result column="city_name" jdbcType="VARCHAR" property="cityName" />
		<result column="area_name" jdbcType="VARCHAR" property="areaName" />
		<result column="project_id" jdbcType="VARCHAR" property="projectId" />
		<result column="project_name" jdbcType="VARCHAR" property="projectName" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
	</resultMap>
	
	<sql id="allColumns">
	    `id`,`provice_id`,`city_id`,`area_id`,`provice_name`,`city_name`,`area_name`,`project_id`,`project_name`,`create_time`,`create_by`,`update_time`,`update_by`,`phone` 
	</sql>

	<sql id="dynamicWhereConditions">
	        where 1 = 1
		<if test=" null != id "> and `id` = #{id} </if>    
		<if test=" null != proviceId "> and `provice_id` = #{proviceId} </if>    
		<if test=" null != cityId "> and `city_id` = #{cityId} </if>    
		<if test=" null != areaId "> and `area_id` = #{areaId} </if>    
		<if test=" null != proviceName "> and `provice_name` = #{proviceName} </if>    
		<if test=" null != cityName "> and `city_name` = #{cityName} </if>    
		<if test=" null != areaName "> and `area_name` = #{areaName} </if>    
		<if test=" null != projectId "> and `project_id` = #{projectId} </if>    
		<if test=" null != projectName "> and `project_name` = #{projectName} </if>    
		<if test=" null != createTime "> and `create_time` = #{createTime} </if>    
		<if test=" null != createTimeGte ">  and `create_time`  >= #{createTimeGte} </if>  
		<if test=" null != createTimeLte "> and #{createTimeLte}  >=  `create_time` </if>  
		<if test=" null != createBy "> and `create_by` = #{createBy} </if>    
		<if test=" null != updateTime "> and `update_time` = #{updateTime} </if>    
		<if test=" null != updateTimeGte ">  and `update_time`  >= #{updateTimeGte} </if>  
		<if test=" null != updateTimeLte "> and #{updateTimeLte}  >=  `update_time` </if>  
		<if test=" null != updateBy "> and `update_by` = #{updateBy} </if>    
		<if test=" null != phone "> and `phone` = #{phone} </if>    
		<if test=" null != ids ">
		 	and id in  
			<foreach collection="ids" index="index" item="idItem" open="(" separator="," close=")">
			#{idItem}
			</foreach>
		</if>		
		<if test=" null != sortColumns"> order by ${sortColumns} </if>
	</sql>
	
	<select id="findList" parameterType="com.simple.domain.po.AreaProject" resultMap="BaseResultMap">
		select <include refid="allColumns" /> from areaProject
		<include refid="dynamicWhereConditions" />
	</select>
	
	
	
	
	
	
</mapper>
