<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.mapper.DataInfoMapper">
	<resultMap id="BaseResultMap" type="com.simple.domain.po.DataInfo">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="real_download_count" jdbcType="INTEGER" property="realDownloadCount" />
		<result column="base_download_count" jdbcType="INTEGER" property="baseDownloadCount" />
		<result column="visable" jdbcType="INTEGER" property="visable" />
		<result column="file_name" jdbcType="VARCHAR" property="fileName" />
		<result column="file_path" jdbcType="VARCHAR" property="filePath" />
		<result column="file_desc" jdbcType="VARCHAR" property="fileDesc" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
	</resultMap>
	
	<sql id="allColumns">
	    `id`,`name`,`type`,`real_download_count`,`base_download_count`,`visable`,`file_name`,`file_path`,`file_desc`,`create_time`,`create_by`,`update_time`,`update_by` 
	</sql>

	<sql id="dynamicWhereConditions">
	        where 1 = 1
		<if test=" null != id "> and `id` = #{id} </if>    
		<if test=" null != name "> and `name` = #{name} </if>    
		<if test=" null != type "> and `type` = #{type} </if>    
		<if test=" null != realDownloadCount "> and `real_download_count` = #{realDownloadCount} </if>    
		<if test=" null != baseDownloadCount "> and `base_download_count` = #{baseDownloadCount} </if>    
		<if test=" null != visable "> and `visable` = #{visable} </if>    
		<if test=" null != fileName "> and `file_name` = #{fileName} </if>    
		<if test=" null != filePath "> and `file_path` = #{filePath} </if>    
		<if test=" null != fileDesc "> and `file_desc` = #{fileDesc} </if>    
		<if test=" null != createTime "> and `create_time` = #{createTime} </if>    
		<if test=" null != createTimeGte ">  and `create_time`  >= #{createTimeGte} </if>  
		<if test=" null != createTimeLte "> and #{createTimeLte}  >=  `create_time` </if>  
		<if test=" null != createBy "> and `create_by` = #{createBy} </if>    
		<if test=" null != updateTime "> and `update_time` = #{updateTime} </if>    
		<if test=" null != updateTimeGte ">  and `update_time`  >= #{updateTimeGte} </if>  
		<if test=" null != updateTimeLte "> and #{updateTimeLte}  >=  `update_time` </if>  
		<if test=" null != updateBy "> and `update_by` = #{updateBy} </if>    
		<if test=" null != ids ">
		 	and id in  
			<foreach collection="ids" index="index" item="idItem" open="(" separator="," close=")">
			#{idItem}
			</foreach>
		</if>		
		<if test=" null != sortColumns"> order by ${sortColumns} </if>
	</sql>
	
	<select id="findList" parameterType="com.simple.domain.po.DataInfo" resultMap="BaseResultMap">
		select <include refid="allColumns" /> from dataInfo
		<include refid="dynamicWhereConditions" />
	</select>
	
	
	
	
	
	
</mapper>
